RewriteEngine On

# Empêcher de lister le contenu des dossiers
Options -Indexes

# Rediriger tout vers index.php si ce n'est pas un fichier réel
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]